@{
    ViewData["Title"] = "Home Page";
}


<h3>Магазин</h3>
<table>
    <tr>
        <td>Название</td>
        <td>Цена</td>
        <td>Количество</td>
        <td>Описание</td>
        <td></td>
    </tr>
    @foreach (var Product in ViewBag.Products)
    {
    <tr>
        <td>@Product.Name</td>
        <td>@Product.Price</td>
        <td>@Product.Quantity</td>
        <td>@Product.info</td>
        <td><a href="~/Home/Buy/@Product.IdProduct">Купить</a></td>
        <td><a href="~/Home/Update/@Product.IdProduct">Обновить данные</a></td>
    </tr>
    }
</table>
